@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
}

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
         url('/fonts/poppins-v20-latin-regular.woff') format('woff'),
         url('/fonts/poppins-v20-latin-regular.ttf') format('truetype')
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/poppins-v20-latin-500.woff2') format('woff2'),
         url('/fonts/poppins-v20-latin-500.woff') format('woff'),
         url('/fonts/poppins-v20-latin-500.ttf') format('truetype')
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/poppins-v20-latin-600.woff2') format('woff2'),
         url('/fonts/poppins-v20-latin-600.woff') format('woff'),
         url('/fonts/poppins-v20-latin-600.ttf') format('truetype')
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/poppins-v20-latin-700.woff2') format('woff2'),
         url('/fonts/poppins-v20-latin-700.woff') format('woff'),
         url('/fonts/poppins-v20-latin-700.ttf') format('truetype')
  }
}

html,
body {
  font-family: "Poppins";
  font-size: 1.0rem;
  color: #2B2D33;
  height: 100%;
}

#__next{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
}

main {
  flex-grow: 1;
}

h1 {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 700;
}

button {
  font-weight: 500;
}

.container {
  max-width: 1312px;
  margin: 0px auto;
}

.header {
  line-height: 4.5rem;
  box-shadow: 8.66007px 3.60836px 72.1672px rgba(0, 0, 0, 0.18);
  border-radius: 14.4334px;
  margin-bottom: 2rem;
}

.trades {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.trades-table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px var(--gray-100);
  background-color: white;
  text-align: left;
  overflow: auto;

  thead {
    box-shadow: 0 5px 10px var(--gray-100);
  }
  
  th {
    padding: 1rem 1rem;
    font-size: 0.95rem;
    font-weight: 600;
    color: #64748b;
  }

  td {
    padding: 1rem 1rem;
  }

  .ticker {
    text-transform: uppercase;
    font-weight: 500;
  }

  .trade-type {
    border-radius: 5.70905px;
    text-align: center;
    padding: 0.2rem 1rem;
  }

  .type-buy {
    background-color: #BFE9DF;
  }

  .type-sell {
    background-color: #FACED1;
  }

}



@media only screen and (max-width: 768px) {
  .header {
    line-height: 3.5rem;
  }

  .logo-font {
    margin-top: 1rem;
  }

}

.logo-font {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.5rem;
  white-space: nowrap;

  background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.nav-font {
  display: inline-block;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
}

.nav-font:hover {
  color: #0f172a;
}

.nav-item-selected {
  border-bottom: 3px solid;
  font-weight: 600;
  color: #7579FF;
}

.nav-font:active {
  color: #7579FF;
}

.nav-font:focus {
  color: #7579FF;
}

.main-search {
  border: 1px solid #D5D5D6;
  border-radius: 8px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
